@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

* {
    box-sizing: border-box;

}

body {
    font-family: 'Work Sans', sans-serif;
}

/* nav start here */
.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
}

.logo-container {
    display: flex;
    gap: 24px;
    align-items: center;
    width: 50%;
}

.logo-container img {
    width: 85px;
    height: 40px;
}

.logo-container h2 {
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
    color: #0B0223;
}

.G-section {
    color: #F948B2;
}

.nav-item-container {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.nav-item-container a {
    text-decoration: none;
    color: #3C354F;
    font-size: 1.2rem;
    font-weight: 500;
}

.follow-icon {
    display: flex;
    align-items: center;
    padding: 17px 25px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    gap: 24px;
}

.fa-youtube {
    color: red;
}

.fa-tiktok {
    color: black;
}

/* nav end here */
/* goat section start here */
.banner-container {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: center;

}

.goat {
    background-image: url(images/Group14.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 900px 700px;
}

.banner-text {
    width: 50%;


}

.banner-image {
    width: 50%;
}

.banner-image img {
    width: 100%;
    height: 100%;
}

.goat-title {
    color: #0B0223;
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: -60px;
}

.goat-head {
    margin-bottom: -20px;
    font-size: 5.938rem;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.goat-text {
    color: #534C64;
    font-size: 1.5rem;
    font-weight: 500;
}

.fa-circle-play,
.fa-download {
    color: red;
}

.sin-btn {
    background-color: #F948B2;
    padding: 20px 40px;
    border: 0;
    border-radius: 48px;
    color: #FFF;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
}

.go-btn {
    padding: 20px 40px;
    background-color: rgba(78, 197, 247, 1);
    border: 0;
    border-radius: 48px;
    color: #FFF;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
}

/* gamer section start here */
.gamer-section {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.gamer-container {
    max-width: 1400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
}

.gamer-img {
    width: 50%;
}

.gamer-img img {
    width: 100%;
}

.gamer-text {
    width: 50%;
    text-align: right;
}

.our-p-para {
    color: #534C64;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
}

.our-p {
    color: #534C64;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 45px;
}

.gamer-heading {
    text-align: right;
    font-size: 3rem;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gamer-description {
    color: #534C64;
    font-size: 1.125rem;
    font-weight: 400;
}

/* gamer section end here */
/* play game design start here */
.play-game-container {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 100px;
}

.play-game-text {
    width: 50%;
    text-align: right;
    padding-right: 20px;
    align-items: center;
    margin-right: 200px;
    margin-bottom: 200px;
}

.play-title {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;
}

.play-inst {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-game-para {
    color: #534C64;
    font-family: Work Sans;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 30px;
}

.play-game-img {
    width: 50%;
    margin-right: 90px;
}

.play-img {
    height: 120%;
    width: 100%;
    margin-left: 100px;
}

.tom-img {
    position: relative;
    bottom: 300px;
    right: 70px;
}

/* play game design end here */

/* careers section design start here */
.careers-section {
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);

}

.careers-container {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.careers-title {
    color: #FFF;
    font-size: 3rem;
    font-weight: 700;
}

.careers-para {
    color: #FFF;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 30px;
}

.careers-text {
    width: 50%;
    color: #FFF;
}

.careers-list {
    display: flex;
    justify-content: space-between;
}

.careers-list-left {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;

}

.careers-list-right {
    text-align: right;
    color: #FFF;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
}

.careers-btn {
    padding: 20px 40px;
    border: none;
    border-radius: 48px;
    background: #FFF;
    font-family: Work Sans;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    color: #F948B2;
}

.careers-img {
    width: 50%;
}

/* careers section design end here */

/* category section design start here */
.category-section {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.category-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    align-items: center;
    height: 300px;
    gap: 27px;
    margin: 0 250px;
}

.category-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 9px 15px;
    border-radius: 50px;
    background: #FFF;
    border-radius: 48px;
    color: #0B0223;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    cursor: pointer;
}

.category-content img {
    width: 50px;
    height: 50px;
}

/* category section design end here */

/* footer section design start here*/
footer {
    background: #0B0223;
    height: 600px;
}
.footer-container {
padding-top: 120px;
   
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

}

.footer-logo img {
    width: 85px;
    height: 40px;
}

.footer-logo h2 {
    text-align: center;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.t-white {
    color: #FFF;
}
.footer-category{
    color: aliceblue;
    display: flex;
    justify-content: center;
    gap: 60px;
}
.foot-social-icon{
    margin:66px 66px;

    display: flex;
    justify-content: center;
    font-size: 30px;
    gap: 40px;
}
.fa-twitter,.fa-linkedin-in,.fa-instagram,.fa-apple{
    color: white;
}
.fa-facebook{
    color: rgb(50, 159, 213);
}
.footer-terms{
    color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    gap: 60px;
}
.last-text{
    color: rgba(255, 255, 255, 1);
    text-align: center;
}
/* footer section design end here*/

/* responsive for mobile device */

@media screen and (max-width:576px) {

    .nav-item-container,
    .gamer-container,
    .nav-container,
    .play-game-container {
        flex-direction: column;
    }

    .banner-container {
        flex-direction: column-reverse;
    }

    .logo-container {
        align-items: center;
    }

    .nav-item-container {
        width: 100%;
    }

    .logo-container {
        width: 75%;
    }

    .banner-text {
        width: 100%;
        background-image: url("images/Group14.png");
        background-repeat: no-repeat;
        background-position: left bottom;
        background-size: 450px 400px;

    }

    .banner-image {
        width: 100%;
    }

    .gamer-text {
        width: 100%;
        text-align: center;

    }

    .gamer-img {
        width: 100%;
    }

    .gamer-heading {
        text-align: center;
        font-size: 40px;
    }

    .play-game-text {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 0px;
        text-align: center;
    }

    .play-title {
        font-size: 40px;
    }

    .play-game-img {
        width: 100%;
        margin-right: 70px;
    }

    .play-img {
        width: 80%;
    }

    .tom-img {

        width: 35%;
        position: relative;
        bottom: 110px;
        left: 50px;
    }

    .careers-container {
        flex-direction: column;
        width: 100%;
    }

    .careers-img {
        padding: 5px;
        width: 100%;
    }

    .careers-text {
        width: 100%;
        font-size: 1em;
        padding: 10px;
    }

    .group-img {
        width: 100%;
        margin-left: px;
    }

    .careers-list-left {
        color: #FFF;
        font-size: 0.5rem;
        font-weight: 600
    }

    .careers-title {
        font-size: 100%;
    }

    .careers-para {
        font-size: 80%;
    }

    .careers-list-right {
        font-size: 0.5rem;
    }

    .careers-btn {
        padding: 10px 20px;
        border: none;
        border-radius: 48px;
        font-size: .6rem;
    }

    .goat-head {
        font-size: 5rem;

    }

    .banner-text {
        background-size: 380px 400px;
        width: 80%;
    }
}